@import "tailwindcss";

@theme {
  --color-primary: #fff4f1;
  --color-solid: #dc583e;
  --color-solidOne: #ac2c28;
  --color-solidTwo: #fd872f;
  --color-tertiary: #d95942;
  --color-textColor: #404040;
  --color-gray-50: #7b7b7b;
}

html,
body {
  background-color: var(--color-primary);
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

@layer components {

  .max-padd-container{
    @apply mx-auto max-w-[1440px] px-4 lg:px-12;
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween {
    @apply flex items-center justify-center;
  }

  .flexStart {
    @apply flex items-center justify-center;
  }

  .flexEnd {
    @apply flex items-center justify-center;
  }

  .btn-solid {
    @apply px-6 py-3 active:scale-95 transition bg-solid border border-gray-500/20 text-white text-sm font-medium rounded-full cursor-pointer
  }

  .btn-light {
    @apply px-6 py-2 active:scale-95 transition bg-gray-500/10 border border-gray-500/20  text-blue-500 text-sm font-medium rounded-full cursor-pointer
  }

  .btn-outline {
    @apply px-6 py-2 active:scale-95 transition bg-gray-500/15 border border-gray-500/20 text-textColor text-sm font-medium rounded-full cursor-pointer
  }

  .btn-white {
    @apply px-6 py-2 active:scale-95 transition bg-white text-textColor text-sm font-medium rounded-full cursor-pointer
  }
}

@layer utilities{
  .active-link{
    @apply relative after:w-2/5 after:h-1 after:rounded-full after:bg-solid after:absolute after:-bottom-0.5 after:right-3
  }

  h1{
    @apply text-[41px] md:text-[61px] font-bold;
  }

  h2{
    @apply text-[31px] md:text-[38px] font-bold;
  }

  h3{
    @apply text-[24px] md:text-[31px] font-bold;
  }

  h4{
    @apply text-[17px] md:text-[19px] font-bold;
  }

  h5{
    @apply text-[14px] md:text-[16px] font-bold;
  }

  p{
    @apply text-[1.3px] md:text-[14px] text-gray-50;
  }
}